.App {
  text-align: center;
  margin: 10px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;

    h1, h3 {
      margin: 0px;
    }
  }

  input {
    margin: 5px;
  }

  a {
    margin: 10px;
  }

}

